server:
  port: 18081

spring:
  application:
    name: resource-server-spring-kotlin-example
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:9026/realms/e2e-testing}
